.cart-product-title {
    
    > a {
        color: $body-color;
        font-weight: $font-weight-bold;
        font-size: $h6-font-size;
        text-decoration: none;
    }
}

.cart-form-quanity {
    width: 5em; 
}

.cart-row, .cart-col {
    position: relative;
}

.cart-actions {
    margin: 1em 0em;
    position: absolute;
    bottom: 0; 
}