@import '~bulma';
@import 'cart';

.navbar-container {
    .navbar {
        height: 5em;
    }
}

.navbar-container--absolute {
    position: absolute;
    justify-content: center;
    display: flex;
    width: 100%;

    .navbar {
        background: transparent;
        height: 5em;

        .navbar-item { 
            color: rgba(255,255,255, .75);

            &:before {
                content: "\22C5";
                font-size: 3em !important;
                bottom: -60px;
                right: 50%;
                transform: translateX(50%);
                position: absolute;
                opacity: 0;
                transition: all .35s;
            }

            &:hover {
                color: #fff !important;
                background: transparent;
                transition: all .35s;

                &:before {
                    content: '\22C5';
                    bottom: -20px;
                    transform: translateX(50%);
                    opacity: 1;
                }
            } 
        }
    }
}
